/* Criação de algumas variáveis para facilitar a manutenção no código */
:root {
    --cor-principal_1: #2B0461;
    --cor-principal_2: #191960;
    --cor-secundario_1: #F5E663;
    --cor-secundario_2: #00FFAD;
    --cor-secundario_3: #FFAB69;
    --cor-secundario_4: #9C3848;
    --cor-game1: #14283F;
    --cor-game2: #113949;
    --cor-white: #ffffff;
    --cor-black: #000000;
    --cor-cinza: #D9D9D9;
    --fontFamily-title_1: Poppins, sans-serif;
    --fontFamily-title_2: Orbitron, sans-serif;
    --fontFamily-regular_1: Inter, sans-serif;
    --fontFamily-regular_2: "Open Sans", sans-serif;
}
/* zerando a margin e padding do site */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fontFamily-regular_1);
    background-color: var(--cor-principal_1);
    display: flex;
    justify-content: center;
}

/* Começo do Header */
header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background-color: var(--cor-principal_2);
    z-index: 30;
    display: flex;
    justify-content: center;
}

header .containerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 100%;
}

header .logo {
    width: 150px;
    height: 90%;
}

header .logo img {
    height: 100%;
}

header .titleTelaJogos {
    font-family: var(--fontFamily-title_1);
    color: var(--cor-white);
}

header .menus {
    width: 150px;
}

header .menus img {
    margin: .5rem;
}

/* Fim Header */

/* Começo Main */

main {
    margin-top: 80px;
    width: 1200px;
}

main .headerGame {
    width: 100%;
    height: 70px;
    background-color: var(--cor-cinza);
    display: flex;
    justify-content: center;
    align-items: center;
}

main .containerHeaderGame {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .containerHeaderGame .nivel {
    font-family: var(--fontFamily-title_1);
    font-size: 1.5rem;
}

/* Começo conteudoGameHome */

main .conteudoGameHome {
    display: flex;
    width: 100%;
    height: 600px;
    background: url(../assets/fundoGame1.png);
    background-size: cover;
}

main .conteudoGameHome .containerConteudoHome {
    width: 100%;
    height: 90%;
    padding-top: 3rem;
}

/* Começo topHome */

main .conteudoGameHome .topHome {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .topHome .containerTopHome {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

/* Fim topHome */

/* Começo mainHome */

main .conteudoGameHome .mainHome {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}

main .mainHome .containerMainHome {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Fim mainHome */

/* Começo bottomHome */

main .bottomHome {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .bottomHome .containerBottomHome {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

main .containerBottomHome .containerButtonBatalhar {
    font-family: var(--fontFamily-title_1);
    background-color: var(--cor-secundario_4);
    color: var(--cor-white);
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    transition: .5s;
    cursor: pointer;
}

main .containerBottomHome .containerButtonBatalhar:hover {
    transform: scale(1.05);
    background-color: var(--cor-game1);
}

main .containerBottomHome .containerButtonBatalhar:active {
    transform: scale(1.2);
}

/* Fim bottomHome */

/* Fim conteudoGameHome */

/* Começo conteudoGameStatus */

main .conteudoGameStatus {
    display: flex;
    width: 100%;
    height: 600px;
}

/* Começo Tela Status */

main .conteudoGameStatus {
    background-color: var(--cor-game1);
}

main .conteudoGameStatus .containerConteudoGame {
    width: 100%;
    height: 90%;
    padding-top: 3rem;
}

/* Começo topStatus */

main .conteudoGameStatus .topStatus {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .topStatus .containerTopStatus {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

main .containerTopStatus .containerChangeEquipamento,
main .containerTopStatus .containerNadaStatus,
main .containerTopStatus .containerXpAtual {
    width: 100px;
    height: min-content;
    padding: .5rem 0;
    background-color: var(--cor-white);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    border-radius: 2rem;
    font-weight: bold;
}

main .containerTopStatus .containerXpAtual {
    width: 200px;
}

main .containerTopStatus .containerNadaStatus {
    background-color: transparent;
}

/* Fim topStatus */

/* Começo mainStatus */

main .conteudoGameStatus .mainStatus {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}

main .mainStatus .containerMainStatus {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Começo StatusAtuais */

main .containerMainStatus .status {
    width: 300px;
    height: 300px;
}

main .containerMainStatus .containerStatus {
    width: 100%;
    height: 100%;
    color: var(--cor-white);
}

main .containerStatus .containerMiniTitleStatus {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

main .containerStatus .containerStatusAtuais {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-y: auto;
}

main .containerStatus .containerStatusAtuais::-webkit-scrollbar {
    display: none;
}

main .containerStatus .containerLineStatus {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

/* Fim StatusAtuais */

/* Começo Gráfico */

main .containerMainStatus .grafico {
    width: 400px;
    height: 400px;
}

main .grafico .containerGrafico {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main .containerGrafico .containerMyGrafico {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--cor-white);
    border-radius: 50%; */
}

main .containerGrafico .containerDashboard {
    width: 150px;
    background-color: var(--cor-white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 0;
    border-radius: 2rem;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}

main .containerGrafico .containerDashboard:hover {
    transform: scale(1.05);
    background-color: var(--cor-secundario_2);
}

main .containerGrafico .containerDashboard:active {
    transform: scale(1.2);
}

/* Fim Gráfico */

/* Começo Upgrade */

main .containerMainStatus .upgrade {
    width: 300px;
    height: 300px;
}

main .containerMainStatus .containerUpgrade {
    width: 100%;
    height: 100%;
    color: var(--cor-white);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

main .containerUpgrade .containerMiniTitleUpgrade {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

main .containerUpgrade .containersTextsValorsUpgrades {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-y: auto;
}

main .containerUpgrade .containersTextsValorsUpgrades::-webkit-scrollbar {
    display: none;
}

main .containerUpgrade .containerTextValorUpgrade {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

main .containerUpgrade  .containerTextValor {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .containerUpgrade .containerLineUpgrade {
    width: 15%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;
    background-color: var(--cor-white);
    transition: .5s;
}

main .containerUpgrade .containerLineUpgrade:hover {
    background-color: var(--cor-principal_1);
    transform: scale(1.05);
}

main .containerUpgrade .containerLineUpgrade:active {
    transform: scale(1.2);
}

/* Fim Upgrade */

/* Fim mainStatus */

/* Começa bottomStatus */

main .bottomStatus {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .bottomStatus .containerBottomStatus {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

main .containerBottomStatus .containerClasseAtual,
main .containerBottomStatus .containerMidNada,
main .containerBottomStatus .containerEndNada {
    width: 100px;
    height: min-content;
    padding: .5rem 0;
    background-color: var(--cor-white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    font-weight: bold;
}

main .containerBottomStatus .containerMidNada {
    width: 200px;
}

main .containerBottomStatus .containerMidNada,
main .containerBottomStatus .containerEndNada {
    background-color: transparent;
}

/* Fim bottomStatus */

/* Fim conteudoGameStatus */

/* Começo conteudoGameDashboard */

main .conteudoGameDashboard {
    display: flex;
    width: 100%;
    height: 600px;
    background-color: var(--cor-game2)
}

main .conteudoGameDashboard .containerConteudoDashboard {
    width: 100%;
    height: 90%;
    padding-top: 3rem;
    display: flex;
    justify-content: space-around;
}

main .containerConteudoDashboard .columns {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Começo columnLeft */

main .containerConteudoDashboard .columnLeft {
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}

main .containerConteudoDashboard .dashboardContainerClasse {
    width: 100px;
    background-color: var(--cor-white);
    border-radius: 2rem;
    padding: .5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* main .containerConteudoDashboard .dashboardContainerGrafico {

} */

main .containerConteudoDashboard .containerPorcentClasse {
    width: 150px;
    background-color: var(--cor-white);
    border-radius: 2rem;
    padding: .5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fim columnLeft */

/* Começo columnMid */

main .containerConteudoDashboard .columnMid {
    width: 350px;
    justify-content: space-around;
    align-items: center;
}

main .containerConteudoDashboard .dashboardTitleNickname {
    font-family: var(--fontFamily-title_1);
    font-size: 3rem;
    color: var(--cor-white);
}

main .containerConteudoDashboard .dashboardBarStatus {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .dashboardBarStatus .barStatus {
    height: 36px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
    color: white;
    font-size: 16px;
}

main .dashboardBarStatus .barStatus .textBarStatus {
    width: 115px;
}

main .dashboardBarStatus .barStatus .bar {
    width: 150px;
    height: 12px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 20px;
    overflow: hidden;
}

main .dashboardBarStatus .barStatus .bar .fill {
    width: 55%;
    height: 100%;
    background: linear-gradient(90deg, #ff6384, #ff2e63);
    border-radius: 20px;
    transition: width 0.4s ease;
}

main .containerConteudoDashboard .dashboardFaixaXp {
    /* width: 200px; */
    background-color: var(--cor-white);
    padding: .5rem;
    font-weight: bold;
    border-radius: 2rem;
    height: 36px;
    display: flex;
    align-items: center;
    gap: 10px;
    /* margin: 10px 0; */
    /* color: white; */
    font-size: 16px;
}

main .dashboardFaixaXp .barXp {
    width: 150px;
    height: 12px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    overflow: hidden;
}

main .dashboardFaixaXp .barXp .fillXp {
    width: 55%;
    height: 100%;
    background: linear-gradient(90deg, #63c1ff, #2ebdff);
    border-radius: 20px;
    transition: width 0.4s ease;
}

/* Fim columnMid */

/* Começo columnRight */

/* Começo progresso */

main .containerConteudoDashboard .columnRight {
    justify-content: space-around;
}

main .containerConteudoDashboard .dashboardProgresso {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-white);
    /* background-color: var(--cor-game1);
    color: var(--cor-white); */
    border-radius: 2rem;
    padding: .5rem;
}

main .dashboardProgresso .containerDashboardProgresso {
    width: 95%;
    height: 95%;
}

main .dashboardProgresso .miniTitleProgresso {
    font-family: var(--fontFamily-title_1);
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;
}

main .dashboardProgresso .conteudoProgresso {
    width: 100%;
    height: 80%;
    overflow: auto;
}

main .dashboardProgresso .conteudoProgresso::-webkit-scrollbar {
    display: none;
}

main .conteudoProgresso .containersProgresso {
    margin-bottom: .5rem;
}

main .conteudoProgresso .textProgresso {
    font-family: var(--fontFamily-title_1);
}

/* Fim progresso */

/* Começo statusPvp */

main .containerConteudoDashboard .dashboardStatusPvp {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 2rem;
    padding: .5rem;
    border: 3px solid var(--cor-white);
}

main .dashboardStatusPvp .containerDashboardStatusPvp {
    width: 95%;
    height: 95%;
}

main .dashboardStatusPvp .miniTitleStatusPvp {
    font-family: var(--fontFamily-title_1);
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;
}

main .dashboardStatusPvp .conteudoStatusPvp {
    width: 100%;
    height: 80%;
    overflow: auto;
}

main .dashboardStatusPvp .conteudoStatusPvp::-webkit-scrollbar {
    display: none;
}

main .dashboardStatusPvp .textStatusPvp {
    font-family: var(--fontFamily-title_1);
}

/* Fim statusPvp */

/* Fim columnRight */

/* Fim conteudoGameDashboard */

/* Começo footerGame */

main .footerGame {
    width: 100%;
    height: 120px;
    background-color: var(--cor-cinza);
    display: flex;
    justify-content: center;
    align-items: center;
}

main .footerGame .containerFooterGame {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main .containerFooterGame .containerImg {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: .5s;
}

main .containerFooterGame .containerImg:hover {
    transform: scale(1.05);
}

main .containerFooterGame .containerImg:active {
    transform: scale(1.3);
}

main .containerImg img {
    margin-bottom: 1rem;
}

main .containerFooterGame .containerImg .textImg {
    position: absolute;
    bottom: 0;
}

/* Fim footerGame */

/* Fim Main */