/* Criação de algumas variáveis para facilitar a manutenção no código */
:root {
    --cor-principal_1: #2B0461;
    --cor-principal_2: #191960;
    --cor-secundario_1: #F5E663;
    --cor-secundario_2: #00FFAD;
    --cor-secundario_3: #FFAB69;
    --cor-secundario_4: #9C3848;
    --cor-white: #ffffff;
    --cor-black: #000000;
    --cor-cinza: #D9D9D9;
    --fontFamily-title_1: Poppins, sans-serif;
    --fontFamily-title_2: Orbitron, sans-serif;
    --fontFamily-regular_1: Inter, sans-serif;
    --fontFamily-regular_2: "Open Sans", sans-serif;
}
/* zerando a margin e padding do site */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fontFamily-regular_1);
}

/* Começo do Header */
header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background-color: var(--cor-principal_2);
    z-index: 30;
    display: flex;
    justify-content: center;
}

header .containerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 100%;
}

header .logo {
    height: 90%;
}

header .logo img {
    height: 100%;
}

header .titleTelaJogos {
    font-family: var(--fontFamily-title_1);
    color: var(--cor-white);
}

header .menus img {
    margin: .5rem;
}

header .menus .menuBurguer {
    cursor: pointer;
}

header .menus .menuDropdown {
    width: 150px;
    position: absolute;
    background-color: var(--cor-white);
    top: 80px;
    display: flex;
    flex-direction: column;
    margin-left: -20px;
    z-index: 1;
}

header .menus .menuDropdown span {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--cor-principal_2);
}

header .menus .menuDropdown span a {
    width: 100%;
    padding: .5rem 1rem;
    text-decoration: none;
    color: var(--cor-white);
    transition: .5s;
}

header .menus .menuDropdown span a:hover {
    background-color: var(--cor-secundario_2);
    color: var(--cor-black);
}

header .menus .menuDropdown span .dropLinkSalvar:hover {
    background-color: var(--cor-secundario_3);
}

header .menus .menuDropdown span .dropLinkSair:hover {
    background-color: var(--cor-secundario_4);
}

/* Fim Header */

/* Começo Main */

main {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .containerMain {
    width: 95%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
}

main .containerMain .cardJogo {
    width: 250px;
    height: 300px;
    background-color: var(--cor-cinza);
    margin-right: 5rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    transition: 1s;
}

main .containerMain .cardJogo:hover {
    border: 1px solid var(--cor-black);
}

main .containerMain .containerCardJogo {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Começo Card de Jogos feitos/produção */

main .containerMain .faitimentos {
    background-color: var(--cor-principal_1);
    color: var(--cor-white);
}

main .containerMain .clickerLizard {
    background-color: var(--cor-secundario_2);
}

main .containerMain .titleGame {
    font-family: var(--fontFamily-title_1);
}

/* Fim Card de Jogos feitos/produção */

main .containerMain .buttonJogar {
    width: 60%;
    background-color: var(--cor-principal_2);
    text-decoration: none;
    color: var(--cor-white);
    padding: .5rem 0;
    text-align: center;
    border-radius: 1rem;
    font-weight: bold;
    transition: .5s;
}

main .containerMain .buttonPlay:hover {
    transform: scale(1.05);
    background-color: var(--cor-white);
    color: var(--cor-black);
    font-weight: bold;
    cursor: pointer;
}

main .containerMain .buttonIdeias {
    width: 50%;
    background-color: var(--cor-secundario_4);
    text-decoration: none;
    padding: .5rem 0;
    text-align: center;
    border-radius: 1rem;
    font-weight: bold;
    transition: .5s;
}

main .containerMain .buttonSobre:hover {
    transform: scale(1.05);
    background-color: var(--cor-cinza);
    color: var(--cor-black);
}

main .containerMain .textCurto {
    font-weight: bold;
}

/* Fim Main */