/* Criação de algumas variáveis para facilitar a manutenção no código */
:root {
    --cor-principal_1: #2B0461;
    --cor-principal_2: #191960;
    --cor-secundario_1: #F5E663;
    --cor-secundario_2: #00FFAD;
    --cor-secundario_3: #FFAB69;
    --cor-secundario_4: #9C3848;
    --cor-white: #ffffff;
    --cor-black: #000000;
    --fontFamily-title_1: Poppins, sans-serif;
    --fontFamily-title_2: Orbitron, sans-serif;
    --fontFamily-regular_1: Inter, sans-serif;
    --fontFamily-regular_2: "Open Sans", sans-serif;
}
/* zerando a margin e padding do site */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fontFamily-regular_1);
}

/* Começo do Header */
header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background-color: var(--cor-principal_2);
    z-index: 30;
}

header .containerHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

header .logo {
    height: 90%;
}

header .logo img {
    height: 100%;
}

header .atalhos {
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .atalhos span {
    height: 100%;
    display: flex;
    align-items: center;
}

header .atalhos a {
    font-family: var(--fontFamily-regular_2);
    text-decoration: none;
    color: var(--cor-white);
    padding: .5rem 1rem;
    transition: .5s;
    border-radius: 1rem;
    font-style: italic;
}

header .atalhos a:hover {
    background-color: #0000008a;
    transform: scale(1.1);
}

header .buttons {
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .buttons a {
    text-decoration: none;
    font-family: var(--fontFamily-title_1);
    color: var(--cor-principal_2);
    background-color: var(--cor-secundario_2);
    padding: 0 1rem;
    border-radius: 1rem;
    transition: .8s ease;
    border: 2px solid transparent;
}

header .buttons a:nth-child(2n) {
    margin-left: 3rem;
}

header .buttons a:hover {
    background-color: var(--cor-secundario_1);
    transform: scale(1.2);
    background: linear-gradient(to right, var(--cor-secundario_1), var(--cor-secundario_1)) padding-box, linear-gradient(to right, var(--cor-secundario_2 ), var(--cor-secundario_4)) border-box;
}

/* Fim Header */

/* Começo Main */
main {
    font-family: var(--fontFamily-title_1);
    width: 100%;
    height: 850px;
    display: flex;
    margin-top: 80px;
    background-color: var(--cor-black);
}

main .containerMain {
    width: 100%;
    display: flex;
}

main .overlayMain {
    content: "";
    position: absolute; 
    width: 100%;
    height: 850px;
    background-color: rgba(0, 0, 0, 0.7);
}

main .background {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main video {
    width: 100%;
    max-height: 850px;
}

main .conteudo {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--cor-white);
    text-align: center;
}

main .conteudo .titleMain {
    font-size: 2rem;
}

main .conteudo .subtitleMain {
    font-size: .8rem;
}

main .conteudo .buttonMain {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

main .conteudo .buttonMain a {
    text-decoration: none;
    background-color: var(--cor-secundario_2);
    color: var(--cor-principal_2);
    padding: .5rem;
    border-radius: .8rem;
    transition: .5s ease;
}

main .conteudo .buttonMain a:hover {
    background-color: var(--cor-secundario_1);
    transform: scale(1.2);
}