div {
    display: inline-block;
    height: 15vh;
    width: 100%;
}

.div1 {
    background-color: #2B0461;    
}

.div2 {
    background-color: #191960;
}

.div3 {
    background-color: #F5E663;
}

.div4 {
    background-color: #00FFAD;
}

.div5 {
    background-color: #FFAB69;
}

.div6 {
    background-color: #9C3848;
}